- set_meta_tags title: @content.name

.row
  %div{class: Sni::Center.call(xl: 6, lg: 8, md:10, sm: 12)}
    %section
      .header.text-center
        %h3.d-inline= @content.name
      .body= to_html(@content.markdown)
      .footer
        = link_to t("content.contents"), contents_path, class: "btn btn-success btn-sm"
        - if can?(:update, Content)
          = link_to t("edit"), edit_content_path(@content), class: "btn btn-primary btn-sm"
        - if can?(:create, Content)
          = link_to t("delete"), @content, class: "btn btn-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: t("sure") }
