- if results.error
  %p.text-danger.fw-bold
    = succeed(".") do
      = results.error

- unless results.dups.nil? || results.dups&.empty?
  %h5 Duplicates
  %ul
  - results.dups.each_pair do |name, rows|
    %li
      = succeed(":") do
        = name
      = "rows #{rows.map{|r| r + 1}.join(', ')}"

- if results.items.is_a?(Array)

  %h5 Counts
  %ul
    %li= "From web app (excluding archived): #{results.paintings.count}"
    %ul
      %li= "Matched: #{results.paintings.length - results.unmatched.length}"
      %li= "Unmatched: #{results.unmatched.length}"
    %li= "From spread sheet (excluding prints): #{results.items.count}"
    %ul
      %li= "Matched: #{results.items.select{|i| i.painting}.count}"
      %li= "Unmatched: #{results.items.select{|i| !i.painting}.count}"

  %h5 Matched
  %ul
    - results.items.each do |item|
      - if item.painting
        %li
          = item.row
          = link_to item.painting.title, item.painting
          - unless item.title == item.painting.title
            = precede("→ ") do
              = item.title
          - unless item.width == item.painting.width && item.height == item.painting.height
            = precede("| ") do
              = "#{item.painting.width || '?'}cm x #{item.painting.height || '?'}cm → #{item.width || '?'}cm x #{item.height || '?'}cm"
          - unless item.price == item.painting.price
            = precede("| ") do
              = "£#{item.painting.price || '?'} → £#{item.price || '?'}"
          - unless item.sold == item.painting.sold
            = precede("| ") do
              = "#{item.painting.sold ? 'sold' : 'for sale'} → #{item.sold ? 'sold' : 'for sale'}"

  %h5 Unmatched from Spread Sheet
  %ul
    - results.items.each do |item|
      - unless item.painting
        %li= "#{item.row} #{item.title}"

  %h5 Unmatched from Web App
  %ul
    - results.unmatched.each do |painting|
      %li= link_to painting.title, painting

- if current_user.admin?

  - if results.items.is_a?(Array)
    %h5 Filtered Rows
    %ul
      - results.items.each do |item|
        %li= "#{item.title}, #{item.price}, (#{item.width} x #{item.height})"

  - if results.rows.is_a?(Array)
    %h5 Raw Rows
    %ul
      - results.rows.each do |row|
        %li= row.to_s
