- defined?(show_sold) || show_sold = false

- if p.sold?
  - if p.print.blank?
    = dot(true)
    - if show_sold
      = p.pounds
- else
  = dot(false)
  = p.pounds
- if p.print.present?
  = dot(nil)
  = p.print_pounds