- defined?(show_sold) || show_sold = false

- if p.sold?
  - if p.print.blank?
    = dot(:sold)
    - if show_sold
      = pounds(p.price)
- else
  = dot(p.sale ? :sale : :avail)
  = pounds(p.price)
- if p.print.present?
  = dot(:print)
  = pounds(p.print)