- avbl = paintings.any?{ |p| !p.sold && !p.sale? }
- sale = paintings.any?{ |p| !p.sold && p.sale? }
- sold = paintings.any?{ |p| p.sold && p.print.blank? }
- prnt = paintings.any?{ |p| p.print.present? }

%p.small.text-center
  - if avbl
    = dot(:avail)
    = "= price#{sale || sold || prnt ? ',' : ''}"
  - if sale
    = dot(:sale)
    = "= sale price#{sold || prnt ? ',' : ''}"
  - if sold
    = dot(:sold)
    = "= sold#{prnt ? ',' : ''}"
  - if prnt
    = dot(:print)
    = "= print price"
  - unless avbl || sale || sold || prnt
    %p.text-center Sorry, none available right now.
