- defined?(sale) || sale = false

- avbl = paintings.any?{ |p| !p.sold }
- sold = paintings.any?{ |p| p.sold && p.print.blank? }
- prnt = paintings.any?{ |p| p.print.present? }

%p.small.text-center
  - if avbl
    = dot(false)
    = "= #{sale ? 'sale ' : ''}price#{sold || prnt ? ',' : ''}"
  - if sold
    = dot(true)
    = "= sold#{prnt ? ',' : ''}"
  - if prnt
    = dot(nil)
    = "= print price"
  - unless avbl || sold || prnt
    %p.text-center Sorry, none available right now.
