- sale = paintings.any?{ |p| !p.sold }
- sold = paintings.any?{ |p| p.sold && p.print.blank? }
- prnt = paintings.any?{ |p| p.print.present? }

%p.small.text-center
  - if sale
    = dot(false)
    = "= price#{sold || prnt ? ',' : ''}"
  - if sold
    = dot(true)
    = "= sold#{prnt ? ',' : ''}"
  - if prnt
    = dot(nil)
    = "= print price"
