%tr
  %td= link_to p.title, p
  %td.text-center
    - if p.archived?
      = render "thumbnail", p: p
    - else
      = link_to gallery_path(p.gallery, anchor: p.anchor) do
        = render "thumbnail", p: p
  %td.text-center= p.gallery
  %td.text-center= p.price
  %td.text-center= p.print
  %td.text-center= p.size(true)
  %td.text-center= p.media
  %td.text-center= p.stars
  %td.text-center= dot(p.sold)