%tr
  %th= t("painting.title")
  %th.text-center= t("painting.symbol.gallery")
  %th.text-center= t("painting.symbol.price")
  %th.text-center= t("painting.symbol.size")
  %th.text-center= t("painting.symbol.media")
  %th.text-center= t("painting.symbol.star")
  %th.text-center= t("painting.symbol.sold")
