:ruby
  set_meta_tags title: t("painting.paintings")
  lo = Layout.new(lg: [[3,3]], sm: [[4,4]], xs: [[5,5]]).to_a

%section
  .header
    %h3.d-inline= t("painting.compare")
  .body
    = form_tag compare_paintings_path, multipart: true, remote: true, class: "row" do
      %div{class: col(lo[0])}
        = label_tag :csv, t("painting.csv"), class: "visually-hidden"
        = file_field_tag :csv, class: "form-control", placeholder: t("painting.csv"), autofocus: true
      %div{class: col(lo[1])}
        = button_tag t("painting.compare"), type: "submit", class: "form-control btn btn-success"
  .body.border-top
    #results
