- d = t("pages.gallery#{@g}")
= render "pages/meta_tags", d: d

.row
  %div.text-center{class: center(xx: 6, lg: 8, xs: 10)}
    %h2= d[:title]
    - @paintings.each do |p|
      %img{src: p.image_path, alt: p.title, class: "img-fluid"}
      %p
        %strong= p.title
        - if p.width && p.height
          = surround("(", ")") { p.size }
        = dot(p.sold)
        = p.pounds