- d = t("pages.gallery#{@g}")
= render "pages/meta_tags", d: d

.row
  %div.text-center{class: center(xx: 6, lg: 8, xs: 10)}
    %h2= d[:title]
    - @paintings.each do |p|
      %a{name: p.anchor}
        %img.img-fluid.img-thumbnail.mt-4{src: p.image_path, alt: p.title}
      %p.mt-2
        %strong= link_to_if can?(:read, p), p.title, p
        = p.size
        = render "dots", p: p