:ruby
  set_meta_tags title: t("painting.paintings")
  lo = Layout.new(
    xl: [[2,2,2],[2,2,2,2]],
    lg: [[3,2,3],[2,2],[3,3]],
    sm: [[4,2,4],[3,3],[3,3]],
    xs: [[4,3,5],[4,4],[4,4]],
  ).to_a
  inputs = [
    [:query,   t("search"),           :text,   lo[0], placeholder: t("painting.title"), autofocus: true],
    [:price,   t("painting.price"),   :text,   lo[1], placeholder: t("painting.price")],
    [:order,   t("order"),            :select, lo[2], menu: painting_order_menu(params[:order])],
    [:gallery, t("painting.gallery"), :select, lo[3], menu: painting_gallery_menu(params[:gallery])],
    [:stars,   t("painting.stars"),   :select, lo[4], menu: painting_stars_menu(params[:stars])],
    [:media,   t("painting.media"),   :select, lo[5], menu: painting_media_menu(params[:media])],
    [:sold,    t("painting.sold"),    :select, lo[6], menu: painting_sold_menu(params[:sold])],
  ]

%section
  .header
    %h3.d-inline= t("painting.paintings")
  .body
    = render "utils/search/form", index: paintings_path, inputs: inputs
    .row
      %div{class: painting_table_center}
        %table.mt-4{class: "table table-bordered table-sm"}
          %thead
            = render "table_hdr"
          %tbody{id: "results"}
            = render "results", paintings: @paintings
  - if can?(:create, Painting)
    .footer
      = link_to t("painting.new"), new_painting_path, class: "btn btn-primary btn-sm"
