- set_meta_tags title: @painting.title

.row
  %div{class: center(xx: 4, xl: 6, lg: 8, md: 10)}
    %section
      .header
        %h3.d-inline= @painting.title
        .float-end= render "sold", sold: @painting.sold
      .body
        %img.img-fluid{src: @painting.image_path, alt: @painting.title}
        %table{class: "table table-bordered"}
          %tbody
            %tr
              %th= t("painting.gallery")
              %td= t("pages.gallery#{@painting.gallery}.title")
            %tr
              %th= t("painting.size")
              %td= @painting.size
            %tr
              %th= t("painting.media")
              %td= t("painting.medias.#{@painting.media}")
            %tr
              %th= t("painting.filename")
              %td= @painting.filename
            %tr
              %th= t("painting.dimensions")
              %td
                = succeed(",") do
                  = @painting.image_dimensions(tn: false)
                = @painting.image_dimensions(tn: true)
            %tr
              %th= t("updated")
              %td= @painting.last_updated
        .text-center
          %img.img-thumbnail{src: @painting.image_path(tn: true), alt: @painting.title, width: 100, height: 100}
      .footer
        - if can?(:edit, @painting)
          = link_to t("edit"), edit_painting_path(@painting), class: "btn btn-primary btn-sm"
        = link_to t("painting.paintings"), paintings_path, class: "btn btn-success btn-sm"
