- set_meta_tags title: @painting.title

.row
  %div{class: center(xx: 4, xl: 6, lg: 8, md: 10)}
    %section
      .header
        %h3.d-inline= @painting.title
      .body
        %table{class: "table table-bordered"}
          %tbody
            %tr
              %th= t("painting.size")
              %td= @painting.size
            %tr
              %th= t("painting.media")
              %td= t("painting.medias.#{@painting.media}")
            %tr
              %th= t("painting.sold")
              %td= t("symbol.tick") if @painting.sold?
            %tr
              %th= t("painting.filename")
              %td= @painting.filename
            %tr
              %th= t("updated")
              %td= @painting.last_updated
      .footer
        - if can?(:edit, @painting)
          = link_to t("edit"), edit_painting_path(@painting), class: "btn btn-primary btn-sm"
        = link_to t("painting.paintings"), paintings_path, class: "btn btn-success btn-sm"
