- set_meta_tags title: @painting.title

.row
  %div{class: center(xx: 4, xl: 6, lg: 8, md: 10)}
    %section
      .header
        %h3.d-inline= @painting.title
        .float-end= render "sold", sold: @painting.sold
      .body
        .row.border.ms-1.me-1
          .col-6.tmd-td.text-center
            %img.img-thumbnail{src: @painting.image_path, alt: @painting.title, width: @painting.proportionate_width}
          .col-6.ted-td.text-center
            %img.img-thumbnail{src: @painting.image_path(tn: true), alt: @painting.title, width: Painting::THUMB}
          .col-6.mid-th= t("painting.gallery")
          .col-6.end-td= t("pages.gallery#{@painting.gallery}.title")
          .col-6.mid-th= t("painting.price")
          .col-6.end-td= @painting.pounds
          .col-6.mid-th= t("painting.size")
          .col-6.end-td= @painting.size
          .col-6.mid-th= t("painting.media")
          .col-6.end-td= t("painting.medias.#{@painting.media}")
          .col-6.mid-th= t("painting.filename")
          .col-6.end-td= @painting.filename
          .col-6.mid-th= t("painting.dimensions")
          .col-6.end-td= @painting.dimensions
          .col-6.mid-th= t("painting.stars")
          .col-6.end-td= t("symbol.star") * @painting.stars
          .col-6.mid-th= t("updated")
          .col-6.end-td= @painting.last_updated
      .footer
        - if can?(:edit, @painting)
          = link_to t("edit"), edit_painting_path(@painting), class: "btn btn-primary btn-sm"
        = link_to t("painting.paintings"), paintings_path, class: "btn btn-success btn-sm"
