:ruby
  set_meta_tags title: @painting.title
  list_path =
    if @painting.archived
      archive_paintings_path
    else
      gallery_path(@painting.gallery, anchor: @painting.anchor)
    end

.row
  %div{class: center(xx: 4, xl: 6, lg: 8, md: 10)}
    %section
      .header
        %h3.d-inline
          = @painting.title
          - if @painting.archived
            %em
              = surround("(", ")") do
                = t("painting.archived")
        .float-end
          = list_dot(@painting)
          - if @painting.print.present?
            = dot(:print)
      .body
        .row.border.ms-1.me-1
          .col-12.ted-td.text-center
            = link_to list_path do
              %img.img-thumbnail.img-fluid{src: @painting.image_path, alt: @painting.title}
          .col-6.mid-th= t("painting.gallery")
          .col-6.end-td= t("pages.gallery#{@painting.gallery}.title")
          .col-6.mid-th= t("exhibit.exhibit")
          .col-6.end-td
            - unless @painting.exhibit.nil?
              = link_to @painting.exhibit.name, @painting.exhibit
          .col-6.mid-th= t("painting.price")
          .col-6.end-td= pounds(@painting.price)
          .col-6.mid-th= t("painting.print")
          .col-6.end-td= pounds(@painting.print)
          .col-6.mid-th= t("painting.size")
          .col-6.end-td= @painting.size
          .col-6.mid-th= t("painting.media")
          .col-6.end-td= t("painting.medias.#{@painting.media}")
          .col-6.mid-th= t("painting.stars")
          .col-6.end-td= t("painting.symbol.star") * @painting.stars
          .col-6.mid-th= t("painting.dimensions")
          .col-6.end-td= @painting.dimensions
          .col-6.mid-th= t("updated")
          .col-6.end-td= @painting.last_updated
          - if @painting.note.present?
            .col-12.mid-th.text-center= t("painting.note")
            .col-12.end-td= to_html(@painting.note)
      .footer
        - if can?(:edit, @painting)
          = link_to t("edit"), edit_painting_path(@painting), class: "btn btn-primary btn-sm"
        - if @painting.archived
          = link_to t("painting.archive"), archive_paintings_path, class: "btn btn-success btn-sm"
        = link_to t("painting.paintings"), paintings_path, class: "btn btn-success btn-sm"
