- set_meta_tags title: @painting.title

.row
  %div{class: center(xx: 4, xl: 6, lg: 8, md: 10)}
    %section
      .header
        %h3.d-inline= @painting.title
        .float-end= render "sold", sold: @painting.sold
      .body
        .row.border.ms-1.me-1
          .col-6.border-end
            .row
              .col
              %div{class: centre(10, 9, 8, 7, 6)}
                %img.img-fluid.img-thumbnail{src: @painting.image_path, alt: @painting.title}
              .col
          .col-6.text-center
            %img.img-thumbnail{src: @painting.image_path(tn: true), alt: @painting.title}
          .col-6.fw-bold.border-top.border-end.p-1= t("painting.gallery")
          .col-6.border-top.p-1= t("pages.gallery#{@painting.gallery}.title")
          .col-6.fw-bold.border-top.border-end.p-1= t("painting.size")
          .col-6.border-top.p-1= @painting.size
          .col-6.fw-bold.border-top.border-end.p-1= t("painting.media")
          .col-6.border-top.p-1= t("painting.medias.#{@painting.media}")
          .col-6.fw-bold.border-top.border-end.p-1= t("painting.filename")
          .col-6.border-top.p-1= @painting.filename
          .col-6.fw-bold.border-top.border-end.p-1= t("painting.dimensions")
          .col-6.border-top.p-1
            = succeed(",") do
              = @painting.image_dimensions(tn: false)
            = @painting.image_dimensions(tn: true)
          .col-6.fw-bold.border-top.border-end.p-1= t("updated")
          .col-6.border-top.p-1= @painting.last_updated
      .footer
        - if can?(:edit, @painting)
          = link_to t("edit"), edit_painting_path(@painting), class: "btn btn-primary btn-sm"
        = link_to t("painting.paintings"), paintings_path, class: "btn btn-success btn-sm"
