- exhibits.matches.each do |e|
  %tr
    %td= link_to e.name, e, "data-turbo-frame" => "_top"
    %td.text-center= e.paintings.size if e.paintings.size > 0
    %td= e.location
    %td= e.domain
= render "utils/pagination/links", pager: exhibits, columns: 4
