:ruby
  set_meta_tags title: t("exhibit.exhibits")
  inputs = [[:query, t("search"), :text, "offset-3 col-6", placeholder: t("search"), autofocus: true]]
.row
  %div{class: center(xl: 6, lg: 8, md: 10)}
    %section
      .header
        %h3.d-inline= t("exhibit.exhibits")
      .body
        = render "utils/search/form", index: exhibits_path, inputs: inputs
        .row
          %div
            %table.mt-4{class: "table table-bordered table-sm"}
              %thead
                %th= t("exhibit.name")
                %th.text-center= t("painting.symbol.painting")
                %th= t("exhibit.location")
                %th= t("exhibit.domain")
              %tbody{id: "results"}
                = render "results", exhibits: @exhibits
      - if can?(:create, Exhibit)
        .footer
          = link_to t("exhibit.new"), new_exhibit_path, class: "btn btn-primary btn-sm"
