- set_meta_tags title: @exhibit.name

.row
  %div{class: center(xl: 4, lg: 6, md: 8, sm: 10)}
    %section
      .header
        %h3.d-inline= @exhibit.name
      .body
        %table{class: "table table-bordered"}
          %tbody
            %tr
              %th= t("exhibit.location")
              %td= @exhibit.location
            %tr
              %th= t("exhibit.link")
              %td
                - if @exhibit.link.present?
                  = link_to @exhibit.link, @exhibit.link, target: "external"
            - @exhibit.paintings.by_title.each do |p|
              %tr
                %td= render "paintings/dots", p: p, show_sold: true
                %td= link_to p.title, p

      .footer
        = link_to t("exhibit.exhibits"), exhibits_path, class: "btn btn-success btn-sm"
        - if can?(:update, Exhibit)
          = link_to t("edit"), edit_exhibit_path(@exhibit), class: "btn btn-primary btn-sm"
