%p.text-center
  = link_to "mailto:sandramary.orr@googlemail.com", target: "blanke" do
    = image_tag "email.png", width: "40", height: "40", alt: "Email"
  != "&nbsp;"
  = link_to "https://www.facebook.com/sandra.dickie.artist/" do
    = image_tag "facebook.png", width: "40", height: "40", alt: "Facebook"
  != "&nbsp;"
  = link_to "https://www.instagram.com/sandra_dickie_artist/" do
    = image_tag "instagram.png", width: "40", height: "40", alt: "Instagram"
