- defined?(gallery) || gallery = false

%p
  %strong= p.name
  = surround("(", ")") do
    - if gallery
      = link_to t("pages.gallery#{p.g}.title"), gallery_path(p)
    - else
      = succeed(p.cm =~ /\A([1-9]\d*)x([1-9]\d*)\z/ ? ", %s × %s cm" % [$1, $2] : "") do
        = t("type.#{p.type}")
  = render "sold", p: p
