- defined?(gallery) || gallery = false

%p
  %strong= p.name
  = precede("(") do
    = succeed(")") do
      - if gallery
        = link_to t("pages.gallery#{p.g}.title"), gallery_path(p.g)
      - else
        = succeed(p.cm =~ /\A([1-9]\d*)x([1-9]\d*)\z/ ? ", %s × %s cm" % [$1, $2] : "") do
          = t("type.#{p.type}")
  - unless gallery
    - color = p.sold == "s" ? "danger" : "success"
    %span.badge.badge-pill{class: "badge-#{color}"}= 160.chr(Encoding::UTF_8)
