- d = t("pages.exhibitions")
= render "meta_tags", d: d

%main
  .row
    .col-sm-5.p-5
      %h4= d[:title]
      %p
        I exhibit regularly throughout Scotland and my work is in private collections
        in the UK, America, France and Australia.
      %h5 Current
      %ul
        %li
          = succeed(",") do
            = link_to "Flat Cat Gallery", "https://www.flatcatgallery.co.uk/product-category/sandra-dickie/"
          Lauder
        %li
          = succeed(",") do
            = link_to "Gallery Q", "https://www.galleryq.co.uk"
          Dundee (forthcoming)
        %li
          = succeed(",") do
            = link_to "Larks Gallery", "https://larksgallery.com"
          Ballater
        %li
          = succeed(",") do
            = link_to "number four gallery", "http://www.numberfourgallery.co.uk/index.html"
          St Abbs
        %li
          = succeed(",") do
            = link_to "Torrance Gallery", "https://www.torrancegallery.co.uk/spring21"
          Edinburgh
      %h5 Previous
      %ul
        %li Stathearn Gallery, Crieff
        %li City Art Centre, Edinburgh
        %li Visual Arts Scotland (RSA Gallery)
        %li Perth Art Gallery and Museum
        %li Peter Potter Gallery, Haddington
        %li Poldrate Mill, Haddington
        %li Di Rollo Gallery, Edinburgh
        %li Paisley Art Institute
    .col-sm-7.p-5.text-center
      = render "sample"
