- contacts.matches.each do |c|
  %tr
    %td= link_to c.email, c
    %td= c.first_name
    %td= c.last_name
    %td.text-center
      %button.btn.btn-success.btn-sm.copy{"data-clipboard-text" => c.full}= t("contact.copy.one")
= render "utils/pagination/links", pager: contacts, columns: 4
