- contacts.matches.each do |c|
  %tr{id: dom_id(c)}
    %td= link_to c.email, c, "data-turbo-frame" => "_top"
    %td= c.first_name
    %td= c.last_name
    %td.text-center
      %span{"data-controller" => "clipboard"}
        %input.d-none{"data-clipboard-target" => "email", type: "text", value: c.full, readonly: true}
        %button.btn.btn-success.btn-sm{"data-action" => "clipboard#copy"}= t("contact.copy.one")
      - if can?(:destroy, c)
        = link_to t("symbol.cross"), remove_contact_path(id: c.id), class: "btn btn-danger btn-sm",
          data: { turbo_method: :delete, turbo_confirm: t("sure") }
