- contacts.matches.each do |c|
  %tr
    %td= link_to c.email, c, "data-turbo-frame" => "_top"
    %td= c.first_name
    %td= c.last_name
    %td.text-center
      %span{"data-controller" => "clipboard"}
        %input.d-none{"data-clipboard-target" => "email", type: "text", value: c.full, readonly: true}
        %button.btn.btn-success.btn-sm{"data-action" => "clipboard#copy"}= t("contact.copy.one")
= render "utils/pagination/links", pager: contacts, columns: 4
