%nav.mb-4
  .container-fluid
    = link_to t("title"), root_path, class: "navbar-brand"
    %button{type: "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbar"}
      %span
    #navbar.collapse.navbar-collapse
      %ul.me-auto
        %li.dropdown
          = link_to t("galleries"), "#", class: "dropdown-toggle", "data-bs-toggle" => "dropdown", role: "button"
          %ul.dropdown-menu
            - Painting::GALLERY.each do |g|
              %li= link_to t("pages.gallery#{g}.title"), gallery_path(g)
        %li= link_to t("pages.exhibitions.title"), exhibitions_path
        - if !current_user.guest?
          %li.dropdown
            = link_to t("user.admin"), "#", class: "dropdown-toggle", "data-bs-toggle" => "dropdown", role: "button"
            %ul.dropdown-menu
              - if can?(:read, Painting)
                %li= link_to t("painting.paintings"), paintings_path
              - if can?(:archive, Painting)
                %li= link_to t("painting.archive"), archive_paintings_path
              - if can?(:read, Content)
                %li= link_to t("content.contents"), contents_path
              - if can?(:read, User)
                %li= link_to t("user.users"), users_path
      %ul.ms-auto
        - unless controller_name == "sessions"
          - if current_user.guest?
            %li= link_to t("session.sign_in"), new_session_path
          - else
            %li= link_to t("session.sign_out", name: current_user.name), session_path, method: "delete"
