%nav
  = link_to t("title"), root_path
  %button{type: "button", "data-toggle" => "collapse", "data-target" => "#navbar"}
    %span
  #navbar.collapse.navbar-collapse
    %ul.left
      %li.dropdown
        = link_to t("galleries"), "#", class: "dropdown-toggle", "data-toggle" => "dropdown"
        .dropdown-menu
          = link_to t("pages.gallery1.title"), gallery1_path
          = link_to t("pages.gallery2.title"), gallery2_path
          = link_to t("pages.gallery3.title"), gallery3_path
          = link_to t("pages.gallery4.title"), gallery4_path
      %li= link_to t("pages.exhibitions.title"), exhibitions_path
